@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__img/feynman__img.css);
@import url(./__link/feynman__link.css);
.feynman{
  height: 790px;
  padding-top: 80px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 0;
}